Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-filter==23.5
psycopg2-binary==2.9.10
python-dotenv==1.0.1
django-cors-headers
google-auth>=2.29.0
requests>=2.31.0
